<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : config.xml
    Created on : March 3, 2010, 10:12 AM
    Author     : alexandre
    Description:
        Purpose of the document follows.
-->

<root>
    <database>
        <dns>mysql:host=localhost;dbname=DDC</dns>
        <user>alexandre</user>
        <passwd>123456</passwd>
    </database>
</root>
